/* Typography */

body {
    font-family: 'Open Sans', sans-serif;
}

/* Background */

body {
    background-image:url(images/stucco.jpg);
}

/* search.html */

.officer_search_form table {
	width: 800px;
	table-layout:fixed;
}

.officer_search_form th {
	width:200px;
	text-align: right;
}

.officer_search_form td {
	width:600px;
	height:70px;
}

.officer_search_form td input, .officer_search_form td select  {
	width:100%;
	height:40%;
	font-size:16px;
}

ul.letters {
    list-style: none;
    padding:0;
}

ul.letters li {
    display:inline-block;
    margin-right:5px;
}

ul.letters li a {
    font-size:20px;
}

/*results.html, complaint_results.html */

.results h2 {
	font-size:24px;
}

.results ul {
	font-size:20px;
}

/* Footer */

footer {
	text-align: center;
    width: 100%;
    bottom:0;
    background-color:black;
}

footer a {
	text-decoration:none;
}

footer .donate-strip {
	text-align: center;
    width: 100%;
    background-color: #53cfd7;
    padding: 4px 0;
}

footer .donate-strip p {
	margin:0;
	color: black!important;
    font-weight: 600;
}

footer .credits {
	color:white;
    padding:3px 0;
}

footer .credits p {
    margin:0;
}

footer .credits a {
	color:white;
}

footer .credits a:hover {
	color:#f00;
}

.tablet-visible {
    margin-bottom:20px;
}

.site-logo, .title-container {
    height:auto;
}

@media only screen and (max-width: 1100px){
.site-logo, .title-container {
    height:auto;
}
}

@media only screen and (max-width: 400px){

.site-logo {
    display:none;
}

.officer_search_form table, .officer_search_form tbody, .officer_search_form tr, .officer_search_form th, table .officer_search_form td {
    width:100%;
    table-layout:auto;
    text-align:left;
}

.officer_search_form th {
    width:40%;
}

.officer_search_form input {
    width:200px;
}

.officer_search_form table tr {
    text-align:left;
}

}


/* Complaint single */
table.border {
    border-collapse: collapse;
}

table.border,table.border th,table.border td {
    border: 1px solid black;
}

 table.border th, table.border td {
    text-align:left;
    vertical-align:middle;
    padding:10px;
 }