<!DOCTYPE html>
<html>
<head lang="en">
	{% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}Page{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="{% static 'police_archive/css/style.css' %}"/>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->

</head>
<body>
<header>

	<div class="header-container clearfix">
          <div class="width-container clearfix">

              <div class="site-logo">
                <a href='{% static "police_archive/images/CUAPB-header-image.png" %} ' ><img src='{% static "police_archive/images/CUAPB-header-image.png" %} '></a>

              </div>




            <div class="title-container">
            	<h1 class="title"><a href="/">Communities United Against Police Brutality</a></h1>
            </div>

            <div class="tablet-visible">

<!-- _nav.html -->
<div class="nav-container desktop-visible">
          <div class="width-container clearfix">

<!-- _nav.html -->
<nav id="menu" role="navigation">
  <ul id="topnav" class="topnav desktop-nav">


    <li>
      <a href="/">Home </a>
    </li>



    <li>
      <a href="/whoweare">Who We Are </a>
    </li>



    <li class="active">
      <a href="/complaints">Police Complaint Archive  <i class="icon-angle-down"></i></a>
    </li>



    <li>
      <a href="/stolen_lives">Stolen Lives</a>
    </li>



    <li>
      <a href="/donate">Donate</a>
    </li>



    <li>
      <a href="/contact_us">Contact Us </a>
    </li>


  </ul>
</nav>

<a href="#menu" class="menu-link"><i class="icon-menu"></i></a>
<!-- /_nav.html -->

          </div>
        </div>
{% block content %}{% endblock %}
</div>

<footer>
	<a href=''>
		<div class='donate-strip'>
			<p> If you are able, please donate to allow this project to continue developing </p>
		</div>
	</a>
	<div class='credits'>
		<p> Archive by <a href='http://www.bigriverwebdesign.com'>Big River Web Design </a>&bull; Powered by <a href='https://www.djangoproject.com/'> Django </a> </p>
</footer>

</body>
</html>