{% extends 'police_archive/base.html' %}

{% block content %}
	<div class='page_title'>
		<h2>{{SiteText.content1|striptags}}</h2>
	</div>

	<div id='search-info' class='text-box'>
   	 <p> {{SiteText.content2|safe}}</p>
   	</div>
   	<div class='officer_search_form text-box'>
   		<h2> Search by Officer </h2>
	    <form method="get" action="results">
	        <table>
	            {{ form }}
	            <tr>
	                <td>&nbsp;</td>
	                <td>
	                    <input type="submit" value="Search">
	                </td>
	            </tr>
	        </table>
	    </form>
	</div>

	<div class='officer_search_form text-box'>
   		<h2> Search by Complaint </h2>
	    <form method="get" action="complaint_results">
	        <table>
	            {{ complaint_form }}
	            <tr>
	                <td>&nbsp;</td>
	                <td>
	                    <input type="submit" value="Search">
	                </td>
	            </tr>
	        </table>
	    </form>
	</div>

	<div class='browse text-box'>
		<h2> Browse by Last Name </h2>
		<ul class='letters'>
			{% for c in alphabet %}
				<li><a href='/police_archive/browse/{{c}}'>{{c}}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}