/* Overall */

html, body {
    padding:0;
    margin:0;
    min-height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin:0;
}

#container {
   min-height:100%;
   position:relative;
}

#content {
    padding-bottom:140px;
}

.home #content {
    padding-bottom: 97px;
}

* {
    -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
    cursor: pointer;
    color:black;
}

a:hover {
    color:#2c00fd;
}

.text-box {
    background-color: white;
    padding: 10px 20px;
    margin:20px;
}


/* Background */
body {
    background-color:#aaadd6;
}

/* search.html */

.page_title {
    font-size:30px;
    text-align:center;
    text-shadow: 1px -1px white;
}

.page_title h2 {
    margin: 40px 20px;
}


#search-info {
    width:70%;
    margin:auto;
}

.officer_search_form {
    width: 39.8%;
    margin: 40px 5%;
    display: inline-block;
    height:235px;
}

.officer_search_form table {
	table-layout:fixed;
}

.officer_search_form tr {
    height:50px;
}

.officer_search_form th {
	width:200px;
	text-align: left;
}

.officer_search_form td {
	text-align:left;

}

.officer_search_form input {
    width:100%;
}

.browse {
    width:96%;
    margin:0 2%;
    padding-bottom:10px;
    margin-bottom:40px;
}


ul.letters {
    list-style: none;
    padding:0;
}

ul.letters li {
    display:inline-block;
    margin-right:5px;
}

ul.letters li a {
    font-size:20px;
}



/*results.html, complaint_results.html */

.results h2 {
	font-size:24px;
}

.results ul {
	font-size:20px;
}

/* Footer */



footer {
	text-align: center;
    width: 100%;
    height:140px;
    position:absolute;
    bottom:0;
}

.home footer {
    height:97px;
}

footer a {
	text-decoration:none;
}

.back-to-main {
    text-align: left;
    margin-left: 23px;
    font-weight:bold;
    margin-bottom:10px;
}

.back-to-main #back-to-search {
    display:block;
}

.home .back-to-main #back-to-search {
    display:none;
}

.back-to-main p {
    margin:0;
}

footer .donate-strip {
	text-align: center;
    width: 100%;
    background-color: white;
    padding: 4px 0;

}

footer .donate-strip p {
	margin:0;
	color: black;
    font-weight: 600;
}

footer .credits {
	color:black;
    padding:3px 0;
}

footer .credits p {
    margin:0;
}

.tablet-visible {
    margin-bottom:20px;
}

.site-logo, .title-container {
    height:auto;
}

/* Admin */

.green-btn {
    background-color:green;
    font-size:24px;
    font-weight:bold;
}

@media only screen and (max-width: 1100px){
.site-logo, .title-container {
    height:auto;
}
}

@media only screen and (max-width: 400px){

.site-logo {
    display:none;
}

.officer_search_form table, .officer_search_form tbody, .officer_search_form tr, .officer_search_form th, table .officer_search_form td {
    width:100%;
    table-layout:auto;
    text-align:left;
}

.officer_search_form th {
    width:40%;
}

.officer_search_form input {
    width:200px;
}

.officer_search_form table tr {
    text-align:left;
}

}


/* Complaint single */
table.border {
    border-collapse: collapse;
}

table.border,table.border th,table.border td {
    border: 1px solid black;
}

 table.border th, table.border td {
    text-align:left;
    vertical-align:middle;
    padding:10px;
 }


 @media (max-width:1020px) {

    .officer_search_form {
        width: 50%;
        margin: 40px auto;
        display: block;
        height: 264px;
    }


    .officer_search_form th {
        width:40%;
    }

    .officer_search_form td {
        width:60%;
    }

    .officer_search_form tr {
        height:56px;
    }


 }